@model HorseShow_Framework.Areas.Admin.ViewModels.Class_VM
@{
    ViewBag.Title = "Class Line Ups";
    ViewBag.CheckIn = Model.UserPermissions.CheckIn_Riders;
    ViewBag.ShowBill = Model.UserPermissions.Showbill_Settings;
    ViewBag.ClassLineUp = Model.UserPermissions.View_ClassLineUp;
    ViewBag.DivScores = Model.UserPermissions.View_DivScores;
    ViewBag.ClassScores = Model.UserPermissions.View_ClassScores;
    ViewBag.BestInShow = Model.UserPermissions.BestInShow_Results;
}

    <script src="~/Areas/Admin/Content/Scripts/class-lineups.js"></script>

<!-- Hero Section -->
<div class="bg-dark">
    <div class="container text-center space-2 space-3--lg">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 mx-md-auto mb-5">
            <h1 class="h1">
                <span class="font-weight-medium text-white">Class Line Up</span>
            </h1>
        </div>
        <!-- End Title -->
    </div>
</div>
<!-- End Hero Section -->
<div class="container-fluid boxGreyBorders">
    <div class="spacer-20px"></div>
    <div class="col-md-3 offset-3">
        <div class="col-sm paddingBottomMobileOnly_15px">
            <!-- Select Division -->
            @Html.DropDownListFor(model => model.intClassNumber,
           new SelectList(Model.classes.Select(m => m.intClassNumber + ": " + m.strClassName)),
           "Select Class", new { @class = "dropDownGIOS form-control", onchange = "loadPartialView(this.value)" })
        </div>
    </div>
</div>
<div id="viewToLoad">
        <!-- AJAX Call Renders the Partial For the Class-->
</div>
