h1 {
    font-family: $font-family-headings;
    font-weight: normal;
}

p {
    font-family: $font-family-headings;
    font-weight: $font-family-sans-serif;
    margin: 0;
}

.navbar-brand {
    font-family: $font-family-headings;
    font-weight: bold;
}