

<div id="footer" class="container-fluid mt-5">



    <div class="row m-auto text-center py-3">
        @*<div class="col-lg-4 hide lg-show my-1">
            <p class="text-center">
                some extra info only on large screens
            </p>
        </div>*@
        <div class="col-6 trot-spot-info">
            <p class="text-center m-0 p-0">
                Copyright @DateTime.Now.Year Trot Spot Technologies (all rights reserved)
            </p>
        </div>
        <div class="col-6 trot-spot-info text-right">
            <p>
                <a class="nav-item nav-link" href="@Url.Action("Index", "Privacy", new { Area = "Privacy" })">Privacy Policy</a>
                <a href="mailto:chris@trotspottech.com">Website Admin</a>
                <br/>
                <a href="mailto:customercare@trotspottech.com">Contact Us</a>
               
            </p>
        </div>
        @*<div class="col-md-6 col-lg-4 footer-links my-1">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="footerLink" href="#">Contact</a>
                </li>
                <li class="list-inline-item">
                    <a class="footerLink" href="#">FAQ</a>
                </li>
                <li class="list-inline-item">
                    <a class="footerLink" href="#">Help</a>
                </li>
            </ul>
        </div>*@
    </div>
</div>