// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .sm-show {
        display: block !important;
    }
    .sm-hide {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .sm-and-below-hide {
        display: none !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .md-show {
        display: block !important;
    }
    .md-hide {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .md-and-below-hide {
        display: none !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .lg-show {
        display: block !important;
    }
    .lg-hide {
        display: none !important;
    }
}

@media (max-width: 992px) {
    .lg-and-below-hide {
        display: none !important;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .xl-show {
        display: block !important;
    }
    .xl-hide {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .xl-and-below-hide {
        display: none !important;
    }
}