@model HorseShow_Framework.Areas.Privacy.ViewModels.Home_VM
@{
    ViewBag.Title = "PrivacyContent";
    ViewBag.CheckIn = Model.UserPermissions.CheckIn_Riders;
    ViewBag.ShowBill = Model.UserPermissions.Showbill_Settings;
    ViewBag.ClassLineUp = Model.UserPermissions.View_ClassLineUp;
    ViewBag.DivScores = Model.UserPermissions.View_DivScores;
    ViewBag.ClassScores = Model.UserPermissions.View_ClassScores;
    ViewBag.BestInShow = Model.UserPermissions.BestInShow_Results;
}

    <div class="bg-dark">
        <div class="container text-center space-2 space-3--lg">
            <!-- Title -->
            <div class="w-md-80 w-lg-50 mx-md-auto mb-5">
                <h1 class="h1">
                    <span class="font-weight-medium text-white">Privacy Policy</span>
                </h1>
            </div>
            <!-- End Title -->
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="offset-1 col-10">
            <p>
                <h3>Privacy Notice:</h3> 

                <strong>This privacy notice discloses the privacy practices for (www.trotspottech.com). This privacy notice applies solely to information collected by this website. It will notify you of the following: </strong>
                <ol>
                    <li>What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.                  </li>
                    <li>What choices are available to you regarding the use of your data.</li>
                    <li>The security procedures in place to protect the misuse of your information.</li>
                    <li>How you can correct any inaccuracies in the information.</li>
                </ol>
                <h5>Information Collection, Use, and Sharing</h5>
                <div>
                    We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email, through the horse show registration form, 
                    and any other direct contact from you. We will not sell or rent this information to anyone. It is intended for the sole private use of Trot Spot Technologies LLC to support organizations that facilitate horse shows.  
                    We will use your information to respond to you, regarding the reason you contacted us, to communicate with you about the horse show, and to run the horse show you signed up to be a part of. 
                    We will not share your information with any third party outside of our organization, unless designated by law, court order, or to the show that is contracting Trot Spot Technologies software.  
                    All riders are obligated to fill out a waiver at registration with a legal parent/guardian if under 18 at rider check - in. Unless you ask us not to, 
                    we may contact you via email or by postal service in the future to tell you about events, upcoming shows or services, updates to Kelli's CRUSADE.
                    You are responsible to continue to monitor this privacy policy for any updates/changes.
                </div>
                <div>
                    You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address on our website:
                    <ul>
                        <li>See what data we have about you, if any.</li>
                        <li>Change/correct any data we have about you.</li>
                        <li>Have us delete any data we have about you.</li>
                        <li>Express any concern you have about our use of your data.</li>
                    </ul>
                </div>
                <h5> Security: </h5>
                <div>
                    We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline. Wherever we collect sensitive information (such as personal identifiable information), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page. While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only volunteers who need the information to perform a specific tasks (for example, rider check in)
                    are granted access to personally identifiable information. If you feel that we are not abiding by this privacy policy, you should contact us immediately via email at  <a href="mailto:customercare@trotspottech.com">customercare@trotspottech.com</a>.
                </div>
                <br/>
                <h6>
                    Published April 18, 2020 | Trot Spot Technologies LLC
                </h6>
            </p>
        </div> 
    </div>
</div>
